      <nav class="mobile-nav">
        <ul class="icon-list">
          <li class="icon-list__item">
            <a class="icon-list__link" href="index.html">
              <i class="css-icon css-icon--home">
                <div class="css-icon__body"></div>
              </i>
            </a>
          </li>
          <li class="icon-list__item">
            <button class="icon-list__link js-main-menu-btn">
              <i class="css-icon css-icon--menu js-main-menu-icon">
                <div class="css-icon__body"></div>
              </i>
            </button>
          </li>
          <li class="icon-list__item">
            <button class="icon-list__link js-prj-menu-btn">
              <i class="css-icon css-icon--briefcase js-prj-menu-icon">
                <div class="css-icon__body"></div>
              </i>
            </button>
          </li>
          <li class="icon-list__item">
            <button class="icon-list__link js-news-btn">
              <i class="css-icon css-icon--hot js-news-icon">
                <div class="css-icon__body"></div>
              </i>
            </button>
          </li>
        </ul>
      </nav>
