      <nav class="mobile-nav">
        <ul class="icon-list">
          <li class="icon-list__item">
            <a class="icon-list__link" href="index.html">
              <i class="css-icon css-icon--home">
                <div class="css-icon__body"></div>
              </i>
            </a>
          </li>
          <li class="icon-list__item">
            <a class="icon-list__link" id="to-top" href="#top">
              <i class="css-icon css-icon--up-arrow">
                <div class="css-icon__body"></div>
              </i>
            </a>
          </li>
          <li class="icon-list__item">
            <button class="icon-list__link js-toggle" id="css-icon--info" href="#popup-contacts">
              <i class="css-icon css-icon--info">
                <div class="css-icon__body"></div>
              </i>
            </button>
          </li>
        </ul>
      </nav>
