        <aside class="page-aside-left">
          <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
          <!--                                                              -->
          <!--                        PROJECTS NAV                          -->
          <!--                                                              -->
          <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
          <nav class="projects-nav js-popup" id="popup-projects">
            <ul class="menu-list menu-list--projects">
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="http://menshikov.su/">menshikov.su</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="http://brotherilia.github.io/technomart/">Техномарт</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="http://brotherilia.github.io/sedona/">Sedona</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="http://hondasteed.org.ru/">Honda Steed</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="http://astowell.menshikov.su/">Astowell</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="https://brotherilia.github.io/sumerkyng/">Sumerkyng</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="https://brotherilia.github.io/qsign/">Q.Sign Studio</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="https://brotherilia.github.io/brandly/">Brandly</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="https://brotherilia.github.io/css-icons/">CSS-Icons</a>
              </li>
              <li class="menu-list__item menu-list__item--projects">
                <a class="menu-list__link menu-list__link--projects" href="http://christendom.menshikov.su/">Christendom</a>
              </li>
            </ul>
          </nav>
        </aside>
