      <footer class="page-footer">
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <!--                                                              -->
        <!--                         CONTACTS NAV                         -->
        <!--                                                              -->
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <nav class="contacts-nav js-popup" id="popup-contacts">
          <ul class="icon-list icon-list--contacts">
            <li class="icon-list__item">
              <a class="icon-list__link" href="mailto:ilyamenshikov@gmail.com">
                <svg class="icon-list__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
                </svg>
              </a>
            </li>
            <li class="icon-list__item icon-list__item--phone" id="js-phone">
              <a class="icon-list__link" id="js-phone-link" href="tel:+79261675736">
                <svg class="icon-list__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use>
                </svg>
              </a>
              <div class="icon-list__popup" id="js-phone-popup">
                +7(926)167-57-36
              </div>
            </li>
            <li class="icon-list__item">
              <a class="icon-list__link" href="http://vk.com/brother_ilia">
                <svg class="icon-list__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vk"></use>
                </svg>
              </a>
            </li>
            <li class="icon-list__item">
              <a class="icon-list__link" href="https://github.com/brotherilia">
                <svg class="icon-list__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="icon-list__item">
              <a class="icon-list__link" href="https://htmlacademy.ru/profile/id130968">
                <svg class="icon-list__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-academy"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <!--                                                              -->
        <!--                      MOBILE NAV BOTTOM                       -->
        <!--                                                              -->
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <nav class="mobile-nav mobile-nav--bottom">
          <ul class="icon-list icon-list--mobile-bottom">
            <li class="icon-list__item icon-list__item--home-bottom">
              <a class="icon-list__link" href="/">
                <i class="css-icon css-icon--home"></i>
              </a>
            </li>
            <li class="icon-list__item icon-list__item--to-top" id="to-top">
              <a class="icon-list__link" href="#top">
                <i class="css-icon css-icon--up"></i>
              </a>
            </li>
            <li class="icon-list__item icon-list__item--contacts">
              <button class="icon-list__link js-toggle" id="css-icon--info" name="#popup-contacts">
                <i class="css-icon css-icon--info"></i>
              </button>
            </li>
          </ul>
        </nav>
      </footer>
