      <aside class="page-aside-left">
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <!--                                                              -->
        <!--                        PROJECTS NAV                          -->
        <!--                                                              -->
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <nav class="projects-nav js-popup" id="popup-projects">
          <ul class="menu-list">
            <li class="menu-list__item">
              <a class="menu-list__link" href="http://menshikov.su/">menshikov.su</a>
            </li>
            <li class="menu-list__item">
              <a class="menu-list__link" href="http://brotherilia.github.io/technomart/">Техномарт</a>
            </li>
            <li class="menu-list__item">
              <a class="menu-list__link" href="http://brotherilia.github.io/sedona/">Sedona</a>
            </li>
            <li class="menu-list__item">
              <a class="menu-list__link" href="http://hondasteed.org.ru/">Honda Steed</a>
            </li>
            <li class="menu-list__item">
              <a class="menu-list__link" href="http://astowell.menshikov.su/">Astowell</a>
            </li>
            <li class="menu-list__item">
              <a class="menu-list__link" href="https://brotherilia.github.io/sumerkyng/">Sumerkyng</a>
            </li>
            <li class="menu-list__item">
              <a class="menu-list__link" href="https://brotherilia.github.io/qsign/">Q.Sign Studio</a>
            </li>
            <li class="menu-list__item">
              <a class="menu-list__link-dsbl">Brandly</a>
            </li>
          </ul>
        </nav>
      </aside>
