.page-header {
  position: relative;
  height: 160px;
  background: url("../img/bg-logo.png") no-repeat scroll 5px 15px, linear-gradient(to bottom, @bg-color 0%, @bg-alt1-color 100%);

  &::after {
    .slogan();
    top: 5px;
  }
}
