.contacts-nav {
  .popup();
  bottom: 64px;

  &::after {
    .popup-bottom-arrow();
    right: 10%;
  }

  @media @tablet-widths {
    .unpopup();
    width: 50%;

    &::after {
      display: none;
    }
  }

  @media @desktop-widths {
    width: 240px;
    padding: 0 15px;
    background: @bg-color;
    order: 2;
  }
}
