.outl(@color) {
  outline: 1px solid @color;
  position: relative;

  /* &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    padding: 0 5px;
    font-size: 8px;
    background-color: @color;
    height: 15px;
    line-height: 15px;
  } */
}

// .page-header {.outl(red);}
// .page-aside-left {.outl(red,"page-aside-left");}
// .page-main {.outl(red,"page-main");}
// .page-aside-right {.outl(red,"page-aside-right");}
// .page-footer {.outl(red);}
// .mobile-nav {.outl(blue);}
// .contacts-nav {.outl(green);}
// .logo__ilya {.outl(green);}





/* .css-icon {outline: 1px solid blue;} */
