.reset-spaces() {
  margin: 0;
  padding: 0;
}

.reset-list() {
  .reset-spaces();
  list-style: none;
}

.container() {
  min-width: 320px;
  /* max-width: 1199px; */
}

.icon-size() {
  width: @icon-size;
  height: @icon-size;
}

.icon-desktop-size() {
  width: @icon-size / 1.5;
  height: @icon-size / 1.5;
}

.pseudo-common() {
  content: "";
  position: absolute;
  display: block;
}

.slogan() {
  .pseudo-common();
  white-space: nowrap;
  content: "Front-end Development";
  font-family: @title-font-family;
  font-size: @slogan-font-size;
  font-weight: bold;
  color: @slogan-color;
  left: 50%;
  transform: translate(-50%);
}

.title() {
  font-family: @title-font-family;
  font-size: @title-font-size;
  font-weight: bold;
  line-height: @title-font-size;
}

.subtitle() {
  .title();
  font-size: @subtitle-font-size;
  line-height: @subtitle-font-size;
}

.popup() {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  background-color: @slogan-color;
  box-shadow: 5px 5px 20px 0px @logo-color;
  z-index: 1;
}

.unpopup() {
  display: block;
  position: static;
  transform: none;
  width: auto;
  padding: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
  z-index: 0;
}

.popup-arrow() {
  .pseudo-common();
  width: 30px;
  height: 30px;
  border: 15px solid transparent;
}

.popup-top-arrow() {
  .popup-arrow();
  top: -30px;
  border-bottom: 15px solid @slogan-color;
}

.popup-bottom-arrow() {
  .popup-arrow();
  bottom: -30px;
  border-top: 15px solid @slogan-color;
}
